<div class="row">
    <span class="col-12 mb-1"><span class="badge badge-danger">Ruta A</span> (estaciones 1-2-3-7-4-5-6).</span>
</div>
<div class="row">
    <span class="col-12 mb-1"><span class="badge badge-success ruta-b">Ruta B</span> (estaciones 1-2-11-12-13-14-9-10).</span>
</div>
<div class="row">
    <span class="col-12 mb-1"><span class="badge badge-secondary ruta-c">Ruta C</span> (estaciones 1-2-3-7-11-12-13-14-15).</span>
</div>
<div class="row">
    <span class="col-12 mb-1"><span class="badge badge-warning ruta-d">Ruta D</span> (estaciones 10-9-8-7-11).</span>
</div>
<div class="row">
    <span class="col-12 mb-1"><span class="badge badge-info">Ruta E</span> (estaciones 6-5-4-7-8-9-14-15).</span>
</div>
<div class="row">
    <span class="col-12 mb-1"><span class="badge badge-dark">Ruta F</span> (estaciones 2-3-7-8-9-14-13-12-11-2).</span>
</div>

<div class="text-center mt-3">
    <img src="assets/img/mapa.png" alt="Mapa" class="img-thumbnail">
</div>