<form [formGroup]="formRutas" novalidate="novalidate">
    <div class="row">
        <div class="col-lg-4 col-md-5 col-xl-4 offset-lg-2 offset-md-1">
            <div class="form-group">
                <label for="">Seleccione la estación origen</label>
                <select class="form-control" formControlName="initialStation">
                      <option value="">Seleccione</option>
                      <option *ngFor="let estacion of estaciones" [value]="estacion">Estación {{estacion}}</option>
                    </select>
            </div>
        </div>
        <div class="col-lg-4 col-md-5 col-xl-4">
            <div class="form-group">
                <label for="">Seleccione la estación destino</label>
                <select class="form-control" formControlName="finalStation">
                        <option value="">Seleccione</option>
                        <option *ngFor="let estacion of estaciones" [value]="estacion">Estación {{estacion}}</option>
                    </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <button class="btn btn-sm btn-success float-right" (click)="buscarRuta()">Buscar ruta</button>
        </div>
    </div>
</form>